@import "SCSS/_variable.scss";
@import "SCSS/_block1.scss";


* {
  margin: 0;
  padding: 0;

}

.container {
  padding: 14px;
  max-width: 1920px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  max-width: 590px;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}